@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font 
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared-style */
.display-flex{
    display: flex;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.10);
    max-width: 1280px;
    margin: 0 auto;

}

.dark-01{
    color: rgba(19, 19, 19, 1);
}

.dark-02{
    color: rgba(66, 66, 66, 1);
}

/* shared-style */

/* nav-bar-styles-starts */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration:none;
    font-weight: 500;
    font-size: 1.125rem;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

.brand{
    font-size: 2.8125rem;
    font-weight: 700;
}


/* nav-bar-styles-ends */