@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font 
{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* shared-style */

main{
    max-width: 1280px;
    margin: 0 auto;
}


.display-flex{
    display: flex;
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.10);

}

.dark-01{
    color: rgba(19, 19, 19, 1);
}

.dark-02{
    color: rgba(66, 66, 66, 1);
}

.dark-03{
    color: rgba(114, 114, 114, 1);
}

/* shared-style */

/* nav-bar-styles-starts */

.nav-bar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
    text-decoration:none;
    font-weight: 500;
    font-size: 1.125rem;

}


.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

.brand{
    font-size: 2.8125rem;
    font-weight: 700;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* nav-bar-styles-ends */

/* banner-style-starts */
.banner{
    margin-bottom: 90px;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* banner-style-ends */

/* Quick-list-of-Our-Features-starts */
.list-of-Feature{
    max-width: 90%;
    margin: 0 auto;
    gap: 70px;
  
}
.architects-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    gap: 24px;
    margin-bottom: 90px;
}

.architects-feature-container{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
#Quick-list{
    font-size: 2.8125rem;
    font-weight: 500;
}

#Our{
    font-size: 2.8125rem;
    font-weight: 700;
}
#Features{
    color: #FF900E;
    font-size: 2.8125rem;
    font-weight: 700;

}
.feature-description{
    text-align: left;
    font-size: 1rem;
    font-weight: 400;

}

/* Quick-list-of-Our-Features-ends */

/* Features-you-will-love-&-enjoy-starts */

.Features-you-will-love-container{
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.Features-you-will-love-content{
    width: 50%;
    width: 475px;
    height: 872px;
}

.heading{
    font-size: 2.8125rem;
    font-weight: 700;
    border-left: 0.12em solid rgb(255, 144, 14);
    padding-left: 8px;
}

.Features-you-will-love-description{
    font-size: 1rem;
    font-weight: 400;
}

.feature-card{
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 15px auto;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-card-title{
font-size: 1.25rem;
font-weight: 600;
}

.feature-card-subtitle{
    font-size: 1rem;
    font-weight: 400;
}

.Features-you-will-love-image{
    width: 50%;
}
.Features-you-will-love-image img{
    width: 100%;
    max-width: 475px;
    max-width: 659px;
}
.biggest-btn{
    width: 300px;
    height: 160px;
    background-color: rgba(255, 144, 14, 1);
    border-radius: 8px;
    padding: 40px;
    border: none;
    position: relative;
    margin-left: -70px;
    margin-top: -120px;
}
#Year{
    color: #FFF;
    text-align: center;
    font-size: 4.0625rem;
    font-weight: 700;
}
#Experience{
    color: #FFF;
    font-size: 1.5625rem;
    font-weight: 500;
}

/* Features-you-will-love-&-enjoy-ends */

/* Some-Facts-section-starts */


.some-facts-container{
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
}

.some-facts-image{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: auto;
    margin: 0 auto;
    column-gap: 80px;
    
}
.box{
    width: 220px;
    height: 220px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.some-facts-title{ 
font-size: 2.8125rem;
font-weight: 600;
margin-top: 7px;
margin-bottom: 0px;
}

.some-facts-content-heading
{
font-size: 2.8125rem;
font-weight: 700;
margin-bottom: 24px;
}

.some-facts-content-description{
font-size: 1rem;
font-weight: 400;
text-align: left;
width: 100%;
margin-bottom: 80px;

}

/* Some-Facts-section-ends */

/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-bar, 
    .nav-link,
    .list-of-Feature,
    .Features-you-will-love-container
    {
        flex-direction: column;
    }

    .list-of-Feature{
        gap: 0px;
    }

    .Features-you-will-love-content{
        width: 100%;
        margin-bottom: 100px;
    }
    .architects-image-container,
    .some-facts-image
    {   
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1,1fr);
    }
    .some-facts-image{
        gap:24px;
    }
    .biggest-btn{
        width: auto;
    }
    .Features-you-will-love-image{
        width: 100%;
        margin: 30px 0px;
    }
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .list-of-Feature,
    .Features-you-will-love-container
    {
        flex-direction: column;
    } 

    .list-of-Feature{
        justify-content: center;
    }

    .Features-you-will-love-content,.some-facts-container{
        width: 100%;
    }
  
    .architects-image-container,
    .some-facts-image
    {
        justify-content: center;
        grid-template-columns: repeat(2,1fr);

    }
    .some-facts-image{
        gap:24px;
    }
    .biggest-btn,.some-facts-content-description{
        width: auto;
    }

    .Features-you-will-love-image{
        width: 90%;
        gap: 64px;
    }

}